* {
    box-sizing: border-box;
    margin: 0;
  }
  h1 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.7em;

  }

.h-wrapp{
    width: 100%;
    height: 65px;
    border: none;
}

.h{
    position: absolute;
    right: 0;
    padding: 15px;
    border: 1px solid black;
    width: 25%;
    text-align: center;
    font-size: 1.3em;
    background-color: #f7c5a8;
    color: #3d1202;
}
.main{
  position: relative;
  border: 1px solid black;
  background-color: #ffeadb;
  color: #581f0a;
  width: 90%;
  height: auto;
  font-family: Helvetica;
  margin-right: auto;
  margin-left: auto;
}

p{
 margin: 15px;
 font-size: 1.2em;
}



  @media (min-width: 992px){
.first, .sec, .third{
    width: 33.33%;
    float: left;
}

  }

@media (min-width:768px) and (max-width:991.5px){
    .first, .sec{
        width:50%;
        float: left;
        margin-bottom: 50px;
    }
    .third{
      width: 100%;
      float: left;
    }
    
    #main{
        width: 95%;
    }
 
}

@media (max-width:767.5px){
    .first, .sec, .third{
      margin-bottom: 20px;
    }
}